MLFLOW_TRACKING_URI=your_mlflow_tracking_uri
MLFLOW_S3_ENDPOINT_URL=your_mlflow_s3_endpoint_url
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_DEFAULT_REGION=your_aws_default_region
ARTIFACT_ROOT=your_artifact_root