[submodule "mlflow"]
	path = mlflow
	url = https://huggingface.co/spaces/raphael-nk/getaround-mlflow
	branch = main
[submodule "api"]
	path = api
	url = https://huggingface.co/spaces/raphael-nk/getaround-api
	branch = main
[submodule "dashboard"]
	path = dashboard
	url = https://huggingface.co/spaces/raphael-nk/getaround-dashboard
	branch = main
